/* Variables */
:root {
  --userName: "";
  /* Colors */
  --black: #212529;
  --white: white;
  --grey: #d9d9d9;
  --darkerGrey: #bababa;
  --red: #8d1b3d;
  --oliveGreen: #3f5b58;
  --lightGreen: #597e50;
  --lightBlue: #489ed8;
  --darkBlue: #002855;
  /* Fonts */
  --mainFont: "Verdana", sans-serif;
  --secondaryFont: "Helvetica", sans-serif;
  /* Typography */
  --header1: 5rem;
  --header2: 4rem;
  --header3: 3rem;
  --header4: 2rem;
  --header5: 1.5rem;
  --paragraph: 1.05rem;
  /* Box-shadow */
  --boxShadow: 0px 8px 8px -10px rgba(0, 0, 0, 0.5);
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

body {
  background-color: var(--white);
  padding-left: 10px;
  padding-right: 10px;
}

/* Classes */
.hidden {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */
a.link {
  color: var(--black);
  border-bottom: 2px solid var(--red);
  text-decoration: none !important;
  line-height: 1.5;
  font-weight: bold;
}

/* Mobile First (default styles) */
header {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--white);
}

header #top_menu {
  display: none;
}

header #bottom_menu {
  display: none;
}

header #nav_logo {
  width: 50px;
}

.sidebar {
  display: none;
}

/* Mobile-only Burger Menu */
#burger_menu {
  display: block;
  position: relative;
}

#burger_icon {
  cursor: pointer;
  z-index: 2;
  height: 32px;
  width: 40px;
  margin: 10px 0 0 0;
}

#burger_icon span,
#burger_icon span::before,
#burger_icon span::after {
  background: black;
  border-radius: 3px;
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  margin-top: 13px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#burger_icon span::before {
  margin-top: -12px;
}

#burger_icon span::after {
  margin-top: 12px;
}

#burger_icon.active span {
  background: transparent;
}

#burger_icon.active span::before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger_icon.active span::after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.desktop {
  display: none;
}

#burger_nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 80vh;
  background-color: var(--grey);
  box-shadow: var(--boxShadow);
  z-index: 2;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  right: -400px;
  opacity: 0;
}

#burger_nav.active {
  display: flex;
  right: 0;
  opacity: 1;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#user_info {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

#user_info #user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--red) solid;
}

#user_info #user_settings {
  font-size: 20px;
  cursor: pointer;
}

.user {
  width: 100%;
  display: flex;
  justify-content: center;
}

#user_name {
  font-size: 0.8rem;
  margin: 0 0 0 10px;
}

#user_name::before {
  content: var(--userName);
}

#user_info {
  display: flex;
  height: 100px;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

#user_info div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#user_info #user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: var(--red) solid;
}

#user_info #user_settings {
  font-size: 20px;
  cursor: pointer;
}

#burger_nav ul {
  list-style: none;
  width: 100%;
  padding: 20px;
}

#burger_nav ul div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#burger_nav ul div img {
  width: 50px;
  height: 50px;
  background-color: var(--grey);
  padding: 10px;
}

#burger_nav ul li {
  width: 100%;
  padding: 14px 14px;
  font-size: var(--paragraph);
  font-weight: bold;
  cursor: pointer;
}

#burger_nav ul li p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: lighter;
}

/* Graphics elements */
.bigbreaker {
  width: 100%;
  border: 5px solid #3f5b58;
  background-color: #3f5b58;
  margin: 60px 0;
}

.smallbreaker {
  width: 100%;
  border: 1px solid #3f5b58;
  background-color: #3f5b58;
  margin: 20px 0;
}

.boxlink {
  width: 370px;
  height: 370px;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("https://www.hjemmevaernet.dk/globalassets/hjv/billeder/promo/organisation/-fhv-promo-2024-promo.jpg");
  background-repeat: no-repeat;
}

.boxlink .overlay {
  position: absolute;
  padding: 10px;
  width: 90%;
  height: 30%;
  background-color: var(--lightBlue);
  bottom: 20px;
}

.boxlink .overlay div {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

.boxlink .overlay div::after {
  content: ">";
  position: absolute;
  right: 10px;
}

/* Buttons */
button {
  border: solid 2px black;
  background-color: transparent;
  padding: 10px;
  color: var(--black);
  transition: background-color 0.3s linear;
  cursor: pointer;
}

button:hover {
  background-color: var(--black);
  color: var(--white);
  transition: background-color 0.3s linear;
}

button#increaseFont {
  margin: 5px;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border: 2px solid var(--grey);
}

button#decreaseFont {
  margin: 5px;
  width: 50px;
  height: 50px;
  font-size: 0.75rem;
  border: 2px solid var(--grey);
}

/* Chat */
#chat_container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: var(--paragraph);
  padding: 10px;
  overflow-y: auto;
}

#chat {
  position: relative;
  height: 600px;
  padding-bottom: 30px;
}

#chat #user_questions {
  position: absolute;
  right: 0;
}

#chat .user_question {
  top: 20px;
  position: relative;
  text-align: right;
  font-size: var(--paragraph);
}

#chat .user_question::before {
  content: var(--userName, "Default User");
  display: none;
  position: absolute;
  top: -20px;
  right: 0px;
}

#chat #bot_answers {
  position: absolute;
  top: 100px;
  left: 0;
}

#chat .bot_answer {
  position: relative;
  text-align: left;
  font-size: var(--paragraph);
  line-height: 1.5;
}

#chat .bot_answer::before {
  content: "Verner";
  display: none;
  top: -20px;
}

#chat.show-username .user_question::before,
#chat.show-username .bot_answer::before {
  display: inline;
  font-size: 0.8rem;
  position: absolute;
  color: var(--red);
}

.bot_answer h1 {
  font-size: 2rem;
  color: var(--red);
  margin-top: 10px;
  position: relative;
  text-align: left;
  top: 0%;
}

.bot_answer h2 {
  font-size: 1.5rem;
  color: var(--red);
  margin-top: 10px;
}

.bot_answer h3 {
  font-size: 1.2rem;
  color: var(--red);
  margin-top: 10px;
}

.bot_answer h4 {
  font-size: 1rem;
  color: var(--red);
  margin-top: 10px;
}

.bot_answer ul li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
}

#chatbtns_container {
  display: flex;
  position: absolute;
}

#chat_container #disclaimer {
  font-size: 10px;
  text-align: center;
  padding: 10px;
}

/* User input */
.input_container {
  position: relative;
  width: 100%;
  height: 15%;
}

#chat_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
  width: 100%;
  padding: 0 15px;
  height: 45px;
}

#userprompt {
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--grey);
  font-size: 0.8rem;
  width: 100%;
  height: 45px;
}

input:focus {
  outline: none;
}

#sendprompt_btn {
  background-color: var(--red);
  color: var(--white);
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 100%;
}

#chatbtns_container {
  position: relative;
  display: flex;
  align-items: center;
}

#chatbtns_container button {
  height: 45px;
  width: 45px;
  padding: 0;
}

#chat_container {
  height: 100%;
  display: flex;
  align-items: center;
}

.input_container {
  height: 15%;
}

#chat {
  display: flex;
  align-items: center;
  height: 650px;
}

#chat_container h1 {
  position: absolute;
  text-align: center;
  top: 30%;
  font-size: 2.5rem;
}

/* Loader */
.loader {
  display: none;
  border: 8px solid var(--darkerGrey);
  border-top: 8px solid #8d1b3d;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
}

.loader.active {
  display: block;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* UNDERVISNINGSMATERIALE */
.materiale {
  display: flex;
  flex-direction: row;
  background-color: var(--grey);
}

.materiale .materiale_billede img {
  width: 200px;
}

.materiale .materiale_info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* Aligns items vertically */
  justify-content: space-between;
  /* Distributes space between items along the y-axis */
}

.materiale .materiale_info .materiale_navn {
  font-size: 20px;
}

.materiale .materiale_info .materiale_beskrivelse {
  font-size: 12px;
}

#materialer_container {
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

#materialer_container.active {
  display: block;
}

.materiale_item {
  font-size: 0.8rem;
  line-height: 20px;
  width: 180px;
  max-width: 180px;
  padding: 5px 0 5px 10px;
  margin: 5px 0;
  cursor: pointer;
}

.materiale_item:hover {
  font-weight: bold;
  text-decoration: underline;
  color: var(--red);
  background-color: var(--darkerGrey);
}

/* Tablet */
@media (min-width: 768px) {
  .input_container {
    position: relative;
    width: 50%;
  }

  #chat_container {
    height: 500px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }

  header {
    width: 20%;
    min-width: 235px;
  }

  .mobile {
    display: none;
  }

  .main {
    display: flex;
    height: calc(100vh - 100px);
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--grey);
    justify-content: space-between;
    min-width: 235px;
  }

  .sidebar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

  #start_chat_button {
    background-color: var(--red);
    padding: 10px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
  }

  #start_chat_button:hover {
    background-color: #6b152f;
    cursor: pointer;
  }

  #start_chat_button p {
    margin-left: 0;
  }

  #start_chat_button span {
    margin-right: 10px;
    margin-left: 0;
    font-size: 1.8rem;
  }

  .sidebar_item {
    display: flex;
    align-items: flex-start;
    padding: 8px 0;
    justify-content: flex-start;
    width: 100%;
    margin: 2px 0;
  }

  .sidebar_item span {
    margin-left: 30px;
  }

  li.sidebar_item:hover {
    /* color: var(--red);
    font-weight: bold; */
    cursor: pointer;
  }

  .sidebar_item.active {
    border-left: 5px solid var(--red);
    background-color: var(--light-grey);
    color: var(--red);
    font-weight: bold;
    cursor: default;
  }

  #sidebar_dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #sidebar_dropdown_txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  #threads_container {
    display: none;
  }

  #threads_container.active {
    max-height: 200px;
    overflow-y: auto;
    display: block;
  }

  #arrow_down {
    margin: 0 30px 0 0;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }

  #arrow_down.active {
    transform: rotate(180deg);
  }

  .thread {
    font-size: 0.8rem;
    line-height: 20px;
    width: 180px;
    max-width: 180px;
    padding: 5px 0 5px 10px;
    margin: 5px 0;
  }

  .sidebar_item p {
    font-size: 0.8rem;
    margin-left: 10px;
  }

  .desktop {
    align-content: center;
    height: 100%;
    width: auto;
    display: block;
  }

  .hjv_logo_stor {
    height: 85%;
    padding: 10px 0 0 20px;
  }

  #burger_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    position: relative;
    width: 30%;
    height: 670px;
    background-color: var(--grey);
    box-shadow: var(--boxShadow);
    opacity: 1;
  }

  .input_container {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
  }

  #userprompt {
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--grey);
    font-size: 0.8rem;
    width: 100%;
    height: 45px;
  }

  #userprompt:focus {
    outline: none;
  }

  #userprompt:valid {
    background-color: var(--grey);
  }

  #sendprompt_btn {
    background-color: var(--red);
    color: var(--white);
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 100%;
  }

  #sendprompt_btn:hover {
    background-color: #6b152f;
  }

  #chat_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    width: 100%;
    padding: 0 15px;
    height: 45px;
  }

  #chat_input input {
    background-color: transparent;
  }

  #chatbtns_container {
    position: relative;
    display: flex;
    align-items: center;
  }

  #chatbtns_container button {
    height: 45px;
    width: 45px;
    padding: 0;
  }

  #chat_container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  #chat_container #welcome_text {
    text-align: center;
    font-size: 4rem;
  }

  .input_container {
    height: 15%;
  }

  #chat {
    height: 100%;
    display: flex;
    align-items: center;
  }

  #chat h1 {
    font-size: 2.5rem;
    transition: all 0.5s ease-in-out;
  }

  #loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #loginForm input {
    background-color: var(--grey);
    width: 30%;
    height: 5%;
    padding-left: 20px;
    border: none;
    margin-top: 10px;
  }

  #chatbox {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: transparent;
    height: 100%;
    overflow-y: auto;
    /* Ingen baggrundsfarve */
  }

  .userMessage,
  .chatMessage {
    max-width: 70%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .userMessage {
    align-self: flex-end;
    /* Højrejuster brugerens besked */
    text-align: right;
    /* Sørg for at teksten er højrejusteret */
  }

  .chatMessage {
    align-self: flex-start;
    /* Venstrejuster chatbot-beskeden */
    text-align: left;
    /* Sørg for at teksten er venstrejusteret */
  }

  .userName {
    font-size: 12px;
    font-weight: bold;
    color: var(--red);
    margin-bottom: 5px;
    text-align: right;
    /* Højrejuster brugernavnet */
  }

  .senderName {
    font-size: 12px;
    font-weight: bold;
    color: var(--red);
    margin-bottom: 5px;
    text-align: left;
    /* Venstrejuster chatbot-navnet */
  }
}
